In [30]:
import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup

company = []
offer = []
price = []
car_model = []
about_car = []
previous_price = []
EMI = []
downpayment = []


for i in range(1, 20):
    URL = 'https://www.cars24.com/buy-used-cars-mumbai/?page={}'. format(i)
    
    page = requests.get(URL)
    htmlCode = page.text
    
    soup = BeautifulSoup(htmlCode)
    
    for x in soup.find_all('div', attrs={'class' : 'col-4'}):

        companies = x.find('div', attrs={'class' : '_1jpRU'})
        if companies is None:
            company.append(np.NaN)
        else:
            company.append(companies.text)
            
        
        about = x.find('ul', attrs={'class' : 'bVR0c'})
        if about is None:
            about_car.append(np.NaN)
        else:
            about_car.append(about.text)
            


        offers = x.find('div', attrs={'class' : '_3mZ8j'})
        if offers is None:
            offer.append(np.NaN)
        else:
            offer.append(offers.text)

        prices = x.find('div', attrs={'class' : '_7udZZ'})
        if prices is None:
            price.append(np.NaN)
        else:
            price.append(prices.text)

        previous = x.find('p', attrs={'class' : '_31Wtw'})
        if previous is None:
            previous_price.append(np.NaN)
        else:
            previous_price.append(previous.text)
        
        model = x.find('p', attrs={'class' : 'cvakB'})
        if model is None:
            car_model.append(np.NaN)
        else:
            car_model.append(model.text)
        

        payment = x.find('span', attrs={'class' : '_3X7mV _2H07I'})
        if payment is None:
            downpayment.append(np.NaN)
        else:
            downpayment.append(payment.text)
        
        
        EMIS = x.find('div', attrs={'class' : '_2HFRN'})
        if EMIS is None:
            EMI.append(np.NaN)
        else:
            EMI.append(EMIS.text)

In [31]:
print(len(company))
print(len(offer))
print(len(price))
print(len(models))
print(len(previous_price))
print(len(EMI))
print(len(downpayment))
print(len(about_car))

418
418
418
418
418
418
418
418

In [32]:
df = pd.DataFrame({'company' : company, 'car_model' : car_model, 'about_car' : about_car, 'price' : price, 'offer' : offer, 'previous_price' : previous_price, 'downpayment' : downpayment, 'EMI' : EMI})
df

,company,car_model,about_car,price,offer,previous_price,downpayment,EMI
0,2009 Toyota CamryW4 AT Automatic,W4 AT Automatic,"99,864 km1st OwnerPetrol","₹307,299","₹5,000 OFF","₹312,299",Zero downpayment,"₹6,836/month"
1,2020 Skoda Rapid1.0 AMBITION TSI MT Manual,1.0 AMBITION TSI MT Manual,"6,981 km1st OwnerPetrol","₹901,299","₹5,000 OFF","₹906,299",Zero downpayment,"₹20,049/month"
2,2016 Hyundai Elite i20MAGNA 1.2 Manual,MAGNA 1.2 Manual,"18,274 km2nd OwnerPetrol","₹492,399","₹39,000 OFF","₹531,399",Zero downpayment,"₹10,953/month"
3,2010 Mercedes Benz CLS Class350 BLUE EFFICIENC...,350 BLUE EFFICIENCY Manual,"42,372 km3rd OwnerPetrol","₹1,653,299","₹6,000 OFF","₹1,659,299",Zero downpayment,"₹36,777/month"
4,2016 Maruti Vitara BrezzaZDI PLUS Manual,ZDI PLUS Manual,"97,103 km1st OwnerDiesel","₹738,999","₹39,000 OFF","₹777,999",Zero downpayment,"₹16,439/month"
...,...,...,...,...,...,...,...,...
413,2019 Hyundai Grand i10MAGNA 1.2 KAPPA VTVT Manual,MAGNA 1.2 KAPPA VTVT Manual,"7,469 km1st OwnerPetrol","₹539,899","₹29,000 OFF","₹568,899",Zero downpayment,"₹12,010/month"
414,2017 Maruti ErtigaVDI SHVS Manual,VDI SHVS Manual,"93,844 km1st OwnerDiesel","₹757,799","₹31,000 OFF","₹788,799",Zero downpayment,"₹16,857/month"
415,2014 Maruti CelerioVXI AMT Automatic,VXI AMT Automatic,"15,647 km1st OwnerPetrol","₹370,399","₹12,000 OFF","₹382,399",Zero downpayment,"₹8,239/month"
416,2020 Tata TiagoXT 1.2 REVOTRON Manual,XT 1.2 REVOTRON Manual,"5,423 km1st OwnerPetrol","₹494,499","₹11,000 OFF","₹505,499",Zero downpayment,"₹11,000/month"
417,2016 Volkswagen PoloHIGHLINE1.2L PETROL Manual,HIGHLINE1.2L PETROL Manual,"31,887 km1st OwnerPetrol","₹511,299","₹28,000 OFF","₹539,299",Zero downpayment,"₹11,374/month"

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         380 non-null    object
 1   car_model       380 non-null    object
 2   about_car       380 non-null    object
 3   price           380 non-null    object
 4   offer           378 non-null    object
 5   previous_price  378 non-null    object
 6   downpayment     380 non-null    object
 7   EMI             380 non-null    object
dtypes: object(8)
memory usage: 26.2+ KB