In [64]:
import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup
import re

company = []
offer = []
price = []
car_model = []
about_car = []
previous_price = []
EMI = []
downpayment = []


for i in range(1, 23):
    URL = 'https://www.cars24.com/buy-used-cars-mumbai/?page={}'. format(i)
    
    page = requests.get(URL)
    htmlCode = page.text
    
    soup = BeautifulSoup(htmlCode)
    
    for x in soup.find_all('div', attrs={'class' : 'col-4'}):

        companies = x.find('div', attrs={'class' : '_1jpRU'})
        if companies is None:
            company.append(np.NaN)
        else:
            company.append(companies.text)
            
        
        about = x.find('ul', attrs={'class' : 'bVR0c'})
        if about is None:
            about_car.append(np.NaN)
        else:
            about_car.append(about.text)
            


        offers = x.find('div', attrs={'class' : '_3mZ8j'})
        if offers is None:
            offer.append(np.NaN)
        else:
            offer.append(offers.text)

        prices = x.find('div', attrs={'class' : '_7udZZ'})
        if prices is None:
            price.append(np.NaN)
        else:
            price.append(prices.text)

        previous = x.find('p', attrs={'class' : '_31Wtw'})
        if previous is None:
            previous_price.append(np.NaN)
        else:
            previous_price.append(previous.text)
        
        model = x.find('p', attrs={'class' : 'cvakB'})
        if model is None:
            car_model.append(np.NaN)
        else:
            car_model.append(model.text)
        

        payment = x.find('span', attrs={'class' : '_3X7mV _2H07I'})
        if payment is None:
            downpayment.append(np.NaN)
        else:
            downpayment.append(payment.text)
        
        
        EMIS = x.find('div', attrs={'class' : '_2HFRN'})
        if EMIS is None:
            EMI.append(np.NaN)
        else:
            EMI.append(EMIS.text)

In [65]:
print(len(company))
print(len(offer))
print(len(price))
print(len(car_model))
print(len(previous_price))
print(len(EMI))
print(len(downpayment))
print(len(about_car))

451
451
451
451
451
451
451
451

In [66]:
df = pd.DataFrame({'company' : company, 'car_model' : car_model, 'about_car' : about_car, 'price' : price, 'offer' : offer, 'previous_price' : previous_price, 'downpayment' : downpayment, 'EMI' : EMI})
df = df.dropna(axis = 0, how = 'all')
df['Id'] = range(1, len(df) + 1)
df.set_index('Id', inplace = True)
df = df.replace(np.nan, 0)
df['previous_price'] = df['previous_price'].replace([0,0],[ 952100 , 852100])
df

,company,car_model,about_car,price,offer,previous_price,downpayment,EMI
Id,,,,,,,,
1,2009 Toyota CamryW4 AT Automatic,W4 AT Automatic,"99,864 km1st OwnerPetrol","₹307,299","₹5,000 OFF","₹312,299",Zero downpayment,"₹6,836/month"
2,2017 Maruti IGNISDELTA 1.2 K12 Manual,DELTA 1.2 K12 Manual,"30,608 km1st OwnerPetrol","₹415,099","₹22,000 OFF","₹437,099",Zero downpayment,"₹9,234/month"
3,2020 Skoda Rapid1.0 AMBITION TSI MT Manual,1.0 AMBITION TSI MT Manual,"6,981 km1st OwnerPetrol","₹901,299","₹5,000 OFF","₹906,299",Zero downpayment,"₹20,049/month"
4,2020 Hyundai VENUES MT 1.2 KAPPA Manual,S MT 1.2 KAPPA Manual,547 km1st OwnerPetrol,"₹826,399","₹5,000 OFF","₹831,399",Zero downpayment,"₹18,383/month"
5,2018 Volkswagen PoloTrendline 1.0 L Petrol Manual,Trendline 1.0 L Petrol Manual,"43,686 km1st OwnerPetrol","₹506,499","₹41,000 OFF","₹547,499",Zero downpayment,"₹11,267/month"
...,...,...,...,...,...,...,...,...
405,2019 Renault KwidRXL Manual,RXL Manual,"10,737 km1st OwnerPetrol","₹390,599","₹15,000 OFF","₹405,599",Zero downpayment,"₹8,689/month"
406,2017 Maruti DzireZXI Manual,ZXI Manual,"37,024 km1st OwnerPetrol","₹562,099","₹50,000 OFF","₹612,099",Zero downpayment,"₹12,504/month"
407,2019 Maruti DzireVXI Manual,VXI Manual,"19,015 km1st OwnerPetrol","₹653,799","₹16,000 OFF","₹669,799",Zero downpayment,"₹14,543/month"
408,2017 Maruti Wagon R 1.0LXI CNG Manual,LXI CNG Manual,"110,993 km1st OwnerPetrol + CNG","₹379,299","₹5,000 OFF","₹384,299",Zero downpayment,"₹8,437/month"
409,2016 Maruti BalenoDELTA 1.2 K12 AT Automatic,DELTA 1.2 K12 AT Automatic,"26,581 km1st OwnerPetrol","₹591,099","₹34,000 OFF","₹625,099",Zero downpayment,"₹13,149/month"

In [67]:
# to get null value rows
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
print(rows_with_NaN)

Empty DataFrame
Columns: [company, car_model, about_car, price, offer, previous_price, downpayment, EMI]
Index: []

In [68]:
regex = r'^\d+'

df['Year'] = df['company'].apply(lambda x : re.findall(regex, x))

regex1 = r'[^0-9]'
df['car_company'] = df['company'].apply(lambda x : re.findall(regex1, x))

In [69]:
df.head()

,company,car_model,about_car,price,offer,previous_price,downpayment,EMI,Year,car_company
Id,,,,,,,,,,
1,2009 Toyota CamryW4 AT Automatic,W4 AT Automatic,"99,864 km1st OwnerPetrol","₹307,299","₹5,000 OFF","₹312,299",Zero downpayment,"₹6,836/month",[2009],"[ , T, o, y, o, t, a, , C, a, m, r, y, W, , ..."
2,2017 Maruti IGNISDELTA 1.2 K12 Manual,DELTA 1.2 K12 Manual,"30,608 km1st OwnerPetrol","₹415,099","₹22,000 OFF","₹437,099",Zero downpayment,"₹9,234/month",[2017],"[ , M, a, r, u, t, i, , I, G, N, I, S, D, E, ..."
3,2020 Skoda Rapid1.0 AMBITION TSI MT Manual,1.0 AMBITION TSI MT Manual,"6,981 km1st OwnerPetrol","₹901,299","₹5,000 OFF","₹906,299",Zero downpayment,"₹20,049/month",[2020],"[ , S, k, o, d, a, , R, a, p, i, d, ., , A, ..."
4,2020 Hyundai VENUES MT 1.2 KAPPA Manual,S MT 1.2 KAPPA Manual,547 km1st OwnerPetrol,"₹826,399","₹5,000 OFF","₹831,399",Zero downpayment,"₹18,383/month",[2020],"[ , H, y, u, n, d, a, i, , V, E, N, U, E, S, ..."
5,2018 Volkswagen PoloTrendline 1.0 L Petrol Manual,Trendline 1.0 L Petrol Manual,"43,686 km1st OwnerPetrol","₹506,499","₹41,000 OFF","₹547,499",Zero downpayment,"₹11,267/month",[2018],"[ , V, o, l, k, s, w, a, g, e, n, , P, o, l, ..."